* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 400%;
  padding: 0% 6%;
  /* margin-right: 10%; */
  gap: 5%;
  display: flex;
  flex: nowrap;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  /* background-color: crimson; */
}

@keyframes move-up-first {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(-60px);
    opacity: 1;
    animation-delay: 1s;
  }
  100% {
    transform: translateY(-140px);
    opacity: 1;
  }
}

@keyframes move-up-second {
  0% {
    transform: translateY(50px);
    opacity: 1;
  }
  50% {
    transform: translateY(-70px);
    opacity: 1;
    animation-delay: 1s;
  }
  100% {
    transform: translateY(-155px);
    opacity: 1;
  }
}

.animate-move-up-first {
  animation: move-up-first 3s forwards 1.5s infinite;
}

.animate-move-up-second {
  animation: move-up-second 3s forwards 3.5s infinite;
}
